// Example using 'Flatly' bootswatch
//
// First import journal variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

// Whatever application styles you have go last
// @import "base";

footer {
	margin-top: 40px;
}

.navbar-inner {
	background: white !important;
}

.navbar .collapsed  a {
	color: #18bc9c !important;
}

.collapsed a:hover {
	color: #fff !important;
}

.navbar .brand {
	color: #fff !important;
	text-indent: -999px;
	background: url('bird.jpg') no-repeat;
}